# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Docker backup file
Dockerfile.backup
userCreationLocal.py
